$select-wrap-hover-background: #fdfdfd;

.select-wrap {
  width: 100%;
  position: relative;
  cursor: pointer;
  outline: 0;
  height: 36px;
  line-height: 35px;
  //padding: 3px 0;
  user-select: none;
  border-radius: $input-radius;
  border: 1px solid $input-border-color;

  &.is-danger {
    border-color: $red;
  }
  background-color: #fff;
  &:hover {
    background-color: $select-wrap-hover-background;
  }

  .dropdown-arrow {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -8px;
  }

  .tags {
    .tag {
      font-size: 1rem;
      margin-bottom: 0;
      margin-top: 5px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.select-single {

}

.selected {
  padding-left: 12px;
  padding-right: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select-options {
  list-style: none;
  background-color: #fff;
}
.select-option {
  margin-bottom: 1px;
  cursor: pointer;
  user-select: none;
  padding: 7px 12px;
  &:hover {
    background-color: #f5f5f5;
  }
  &.is-selected {
    background-color: $primary;
    color: #fff;
  }
}